@font-face {
  font-family: 'Raleway-bold';
  src: url('./fonts/Raleway-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway-semi-bold';
  src: url('./fonts/Raleway-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway-medium';
  src: url('./fonts/Raleway-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway-normal';
  src: url('./fonts/Raleway-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./fonts/MuseoSans-Cyrl.ttf');
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'CeraPro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: #202124;
}

h2 {
  font-family: 'Raleway-bold';
  font-size: 38px;
  line-height: 52px;
  display: inline;
  background-image: linear-gradient(#EA673D, #EA673D);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 4px;
}

p {
  font-family: 'Raleway-normal';
  color: #646279;
}

.wrapper {
  
}

.header {
  margin-top: 137px;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;

  &__pic {
    width: 54%;

    img {
      width: 100%;
    }
  }

  &__wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__form {
    width: 528px;
    height: 448px;
    padding: 46px 44px 44px 40px;
    background: #fff;
    box-shadow: -50px 40px 120px rgba(121, 125, 146, 0.17);
  }

  &__contact {
    padding: 44px 13px;
    background: linear-gradient(125.99deg, #EA673D 3.35%, #FF8C6D 97.18%);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    
    p {
      font-family: 'Raleway-semi-bold';
      font-size: 16px;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: #fff;
    }
  }
}

.form {
  &__title {
    font-family: 'Raleway-medium';
    font-size: 30px;
    line-height: 120%;
    color: #202124;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 35px;
  }

  &__checkbox {
    display: flex;
    margin-bottom: 28px;

    p {
      font-size: 11px;
      line-height: 16px;
      color: #333333;
      opacity: 0.8;
      display: inline-flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    p::before {
      content: "";
      flex: 0 0 13px;
      height: 13px;
      background: #FFFFFF;
      border: 1px solid #DBDBDB;
      box-sizing: border-box;
      border-radius: 4px;
      align-self: flex-start;
      margin-right: 12px;
      margin-top: 4px;
    }

    p::after {
      transition: transform 0.5s ease 0s;
      color: #5C6BC0;
      content: "\2714";
      position: absolute;
      left: 2px;
      top: 2px;
      transform: scale(0);
    }

    input {
      display: none;
    }

    input:checked + p::after {
      transform: scale(1);
    }
  }

  &__button {
    width: 191px;
    height: 52px;
    border-radius: 4px;
    background-color: #5C6BC0;
    color: #fff;
    font-family: 'Raleway-semi-bold';
    font-size: 17px;
    line-height: 24px;
    transition: background-color 0.5s ease 0s;
  }

  &__button:hover {
    background-color: #3c4786;
  }

  &__inputs {
    display: flex;
    margin-bottom: 35px;

    input {
      width: 169px;
      margin-right: 40px;
      opacity: 0.2;
      border-bottom: 1px solid #33333302;
      padding-bottom: 7px;
      color: #333333;
      opacity: 0.8;
    }

    input::placeholder {
      font-family: 'Raleway-normal';
      font-size: 16px;
      line-height: 30px;
      color: #333333;
      opacity: 0.2;
    }
  }

  input._error {
    box-shadow: 0 0 1px red;
  }
}

.certificate {
  margin-top: 90px;
  padding: 90px 0 70px;
  background: radial-gradient(104.53% 196.44% at -6.22% 31.28%, #919BD7 0%, rgba(92, 107, 192, 0) 67.12%), #5C6BC0;
  width: 100%;
  
  &__wrapper {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }

  &__text {
    width: 30%;
    margin-right: 100px;

    p {
      color: #fff;
      font-size: 16px;
      line-height: 160%;
    }

    &-bold {
      font-family: 'Raleway-semi-bold';
      margin-bottom: 40px;
      line-height: 120%;
    }
  }

  &__title {
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__carusel {
    display: flex;
  }
}

.wrapper__results {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding-top: 130px;
}

.results__block {
  width: 1280px;
  margin: 0 auto;

  &__text {
    display: flex;
    margin-bottom: 228px;

    div {
      width: 42%;
    }

    p {
      width: 37%;
      font-size: 20px;
      line-height: 140%;
    }
  }
}

.gallery {
  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    p {
      font-family: 'Raleway-bold';
      font-size: 18px;
      line-height: 140%;
      color: #000;
      margin-top: 20px;
    }

    transform: translate(0px, 0px);
    transition: all 0.8s ease 0s;
  }

  &__item:nth-child(odd)._active {
    transform: translate(0px, -91px);
  }

  &__item:nth-child(2)._active {
    transform: translate(0px, -186px);
  }
  
}

.wrapper__choose {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding-top: 175px;
}

.choose__block {
  width: 1280px;
  margin: 0 auto;

}

.togglebar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__items {
    display: flex;
    border: 1px solid #D3DCE4;
    border-radius: 40px;
    align-items: center;
  }

  &__item {
    border-radius: 40px;
    padding: 10px;
    font-family: 'MuseoSans';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 10px 36px;
    color: #000;
  }
  
  &__item.active {
    background: #EA673D;
    color: #fff;
  }
}

.service {
  margin: 100px 0 206px;
  display: flex;
  flex-wrap: wrap;
  
  &__item {
    padding: 32px 10px 30px 25px;
    border: 1px solid #ECECEC;
    flex-basis: 25%;

    img {
      margin-bottom: 16px;
    }

    h3 {
      margin-bottom: 10px;
      font-family: 'Raleway-semi-bold';
      font-size: 18px;
      line-height: 26px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    a {
      display: none;
      margin-top: 12px;
      font-family: 'Raleway-medium';
      font-size: 14px;
      line-height: 22px;
      text-decoration-line: underline;
      color: #D95127;
    }
  }

  &__item:nth-child(-n+4) {
    align-self: flex-end;
  }

  &__item:nth-child(n+5) {
    align-self: flex-start;
  }

  &__item:hover {
    box-shadow: -10px 30px 50px rgba(62, 68, 141, 0.09);

    p {
      margin-bottom: 12px;
    }

    a {
      display: block;
    }
  }
}
